*{
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#3477db, #80e496, #885a5a);
  background-attachment: fixed;
}

nav{
  display: flex;
  justify-content: space-around;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  color: white;
  background-color: #532020;
  padding: 2rem 0rem;
}



.student_page_head{
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  width: 75%;
}

.student_page_head h1{
  font-size: 2.5rem;
}

.student_page_head button{
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  background-color: bisque;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.student_page_head button:hover{
  color: #fbdeba;
  background-color: rgb(240, 11, 11);
}

.table_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

table{
  border: 0.5px solid black ;
  font-size: 1.2rem;
  width: 75%;
  padding: 2rem;
  border-collapse: collapse;
}

td{
  border-bottom: 1px solid;
  padding: 1rem;
}